@font-face {
    font-family: 'gtfr';
    src: url('../assets/fonts/mateifont/GT-Flexa-Regular-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gtfr-i';
    src: url('../assets/fonts/mateifont/GT-Flexa-Regular-Italic-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gtfr-bl';
    src: url('../assets/fonts/mateifont/GT-Flexa-X-Compressed-Black-Trial.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'gtfr-bo';
    src: url('../assets/fonts/mateifont/GT-Flexa-X-Compressed-Bold-Trial.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}